/*----------------- Main Layout ------------------*/


.charsheet-layout {
    display: grid;
    width: 786px;
    height: auto;
    position:relative;
    top: 114px;
    grid-column-gap: 12px;
    grid-template-columns: 393px 393px;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "header header" "Attributes Estate-Properties" "Skills Bonds" "Charsheet-GWD Charsheet-GWD";
    margin-left: 48px;
    z-index:3;
}

.charsheet-border {
    grid-area: 1 / 1 / 5 / 2;
    display: block;
    width: 738px;
    border-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/Character-frame.png");
    border-image-slice: 256 72 72 72;
    border-width: 256px 72px 72px 72px;
    border-style: solid;
    border-image-repeat: stretch;
    margin: -118px 0px -60px -48px;
    z-index:5;
    background-color:transparent;
    pointer-events:none;
}
.char-background {
    grid-area: 1 / 1 / 5 / 2;
    display: block;
    width: 738px;
    background-color: white;
    border-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/White.png");
    border-width: 500px 369px 500px 369px;
    border-style: solid;
    border-image-repeat: stretch;
    margin: -116px 0px -60px -58px;
    z-index: 1;
    pointer-events: none;
}

.header {
    display: grid;
    grid-area: header;
    height: 90px;
    flex-direction: column;
    grid-gap: 0px;
}

.Attributes {
    grid-area: Attributes;
    height: 224px;
    grid-template-columns: 0.8fr 0.9fr 1.3fr;
    grid-template-rows: 12px 1fr 1fr 1fr 1fr;
    grid-template-areas: ". Level-Header MP-Header" "Aspect-Label Aspect Aspect-MP" "Domain-Label Domain Domain-MP" "Persona-Label Persona Persona-MP" "Treasure-Label Treasure Treasure-MP";
    display: grid;
    grid-gap: 0px 0px;
    margin-top: -6px;
}

.Estate-Properties {
    grid-area: Estate-Properties;
    height: 206px;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Estate-Property-Label ." "Estate1 EstateVal1" "Estate2 EstateVal2" "Estate3 EstateVal3" "Estate4 EstateVal4" "Estate5 EstateVal5" "Estate6 EstateVal6" "Estate7 EstateVal7";
    display: grid;
    grid-gap: 0px 0px;
    margin-top: -6px;
}

.Skills {
    grid-area: Skills;
    height: 372px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Skill-Label Skill-Label" "SkillVal1 Skill1" "SkillVal2 Skill2" "SkillVal3 Skill3" "SkillVal4 Skill4" "SkillVal5 Skill5" "SkillVal6 Skill6" "SkillVal7 Skill7" "SkillVal8 Skill8" "SkillVal9 Skill9" "SkillVal10 Skill10" "SkillVal11 Skill11" "SkillVal12 Skill12" "SkillVal13 Skill13";
    display: grid;
    grid-gap: 0px 0px;
}

.Skill-Label {
    display: grid;
    grid-area: Skill-Label;
    grid-template-columns: 8fr 1fr 1fr;
    grid-template-areas: "Skill-Label-Text Willpower-Label Willpower-Input";
    grid-gap: 0px 0px;
}

.Bonds {
    grid-area: Bonds;
    height: 372px;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Bond-Label ." "Bond1 BondVal1" "Bond2 BondVal2" "Bond3 BondVal3" "Bond4 BondVal4" "Bond5 BondVal5" "Bond6 BondVal6" "Bond7 BondVal7" "Bond8 BondVal8" "Bond9 BondVal9" "Bond10 BondVal10" "Bond11 BondVal11" "Bond12 BondVal12" "Bond13 BondVal13";
    display: grid;
    grid-gap: 0px 0px;
}

.Charsheet-GWD {
    grid-area: Charsheet-GWD;
    background-color:inherit;
    margin-top: 6px;
}

.Charsheet-WD {
    display: grid;
    width: 786px;
    height: 155px;
    grid-column-gap: 12px;
    grid-template-columns: 393px 242px 139px;
    grid-template-rows: 155px;
    grid-template-areas: "Wounds Wound-Levels Destiny";
    background-color: inherit;
    margin-top: 6px;
}

.Gifts {
    width: 100%;
    grid-template-rows: 27px;
    background-color: inherit;
    display: grid;
    grid-gap: 0px 0px;
}

.Wounds {
    grid-area: Wounds;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Wounds-Label" "Wound1" "Wound2" "Wound3" "Wound4" "Wound5";
    display: grid;
    grid-gap: 0px 0px;
}

.Wound-Levels {
    grid-area: Wound-Levels;
    grid-template-columns: 0.8fr 0.6fr 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr 1fr;
    grid-template-areas: ". . Wound-Level-Label Wound-Level-Label" ". WL1 Wound-Diagram Wound-Diagram" ". WL2 Wound-Diagram Wound-Diagram" ". WL3 Wound-Diagram Wound-Diagram";
    display: grid;
    grid-gap: 0px 0px;
}

.Destiny {
    grid-area: Destiny;
    grid-template-columns: 1fr 133px;
    grid-template-rows: 20px 1fr;
    grid-template-areas: ". Destiny-Label" ". Destiny-Box";
    display: grid;
    grid-gap: 0px 0px;
}

/*------------------ Domain Page -----------------*/

.domain-layout {
    display: grid;
    width: 738px;
    height: auto;
    position: relative;
    top: 96px;
    grid-column-gap: 0px;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 80px 3px 80px 3px 70px 70px 3px 125px 3px 125px 3px 70px 70px 3px 70px 70px 3px 80px 3px 80px 3px 80px;
    grid-template-areas: 
        "domain-miracles-0-numeral domain-miracles-0" 
        "domain-miracles-0-underline domain-miracles-0-underline"
        "domain-miracles-1-numeral domain-miracles-1" 
        "domain-miracles-1-underline domain-miracles-1-underline"
        "domain-miracles-2-numeral domain-miracles-2a" 
        "domain-miracles-2-numeral domain-miracles-2b" 
        "domain-miracles-2-underline domain-miracles-2-underline"
        "domain-miracles-3-numeral domain-miracles-3" 
        "domain-miracles-3-underline domain-miracles-3-underline"
        "domain-miracles-4-numeral domain-miracles-4" 
        "domain-miracles-4-underline domain-miracles-4-underline"
        "domain-miracles-5-numeral domain-miracles-5a" 
        "domain-miracles-5-numeral domain-miracles-5b" 
        "domain-miracles-5-underline domain-miracles-5-underline"
        "domain-miracles-6-numeral domain-miracles-6a" 
        "domain-miracles-6-numeral domain-miracles-6b" 
        "domain-miracles-6-underline domain-miracles-6-underline"
        "domain-miracles-7-numeral domain-miracles-7" 
        "domain-miracles-7-underline domain-miracles-7-underline"
        "domain-miracles-8-numeral domain-miracles-8" 
        "domain-miracles-8-underline domain-miracles-8-underline"
        "domain-miracles-9-numeral domain-miracles-9" 
        "domain-miracles-9-underline domain-miracles-9-underline";
    background-color: white;
    margin-left: 48px;
}
.domain-border {
    grid-area: 1 / 1 / 1 / 1;
    display: block;
    width: 738px;
    height: 958px;
    border-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/Nobilis-frame.png");
    border-image-slice: 256 72 72 72;
    border-width: 256px 72px 72px 72px;
    border-style: solid;
    border-image-repeat: stretch;
    margin: -128px -36px -72px -48px;
    background-color:transparent;
    z-index:5;
    pointer-events:none;
}
.domain-background {
    grid-area: 1 / 1 / 1 / 1;
    display: block;
    width: 738px;
    height: 876px;
    background-color: white;
    border-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/White.png");
    border-width: 200px 369px 200px 369px;
    border-style: solid;
    border-image-repeat: stretch;
    margin: -118px 0px -72px -58px;
    z-index: 1;
    pointer-events: none;
}

.domain-page-title {
    position:relative;
    top:82px;
    left:438px;
    z-index:6;
}
.title-label {
    font-size: 15px;
    color: #79cbf3;
    text-shadow: 0 0 1px #b4b5e7;
    text-align: start;
    background-color: transparent;
    pointer-events: none;
}

.domain-miracles-0-numeral {
    grid-area: domain-miracles-0-numeral;
}
.domain-miracles-1-numeral {
    grid-area: domain-miracles-1-numeral;
}
.domain-miracles-2-numeral {
    grid-area: domain-miracles-2-numeral;
}
.domain-miracles-3-numeral {
    grid-area: domain-miracles-3-numeral;
}
.domain-miracles-4-numeral {
    grid-area: domain-miracles-4-numeral;
}
.domain-miracles-5-numeral {
    grid-area: domain-miracles-5-numeral;
}
.domain-miracles-6-numeral {
    grid-area: domain-miracles-6-numeral;
}
.domain-miracles-7-numeral {
    grid-area: domain-miracles-7-numeral;
}
.domain-miracles-8-numeral {
    grid-area: domain-miracles-8-numeral;
}
.domain-miracles-9-numeral {
    grid-area: domain-miracles-9-numeral;
}
.domain-miracles-0 {
    grid-area: domain-miracles-0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-1 {
    grid-area: domain-miracles-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-2a {
    grid-area: domain-miracles-2a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-2b {
    grid-area: domain-miracles-2b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-3 {
    grid-area: domain-miracles-3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-4 {
    grid-area: domain-miracles-4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-5a {
    grid-area: domain-miracles-5a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-5b {
    grid-area: domain-miracles-5b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-6a {
    grid-area: domain-miracles-6a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-6b {
    grid-area: domain-miracles-6b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-7 {
    grid-area: domain-miracles-7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-8 {
    grid-area: domain-miracles-8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-9 {
    grid-area: domain-miracles-9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.domain-miracles-0-label,
.domain-miracles-1-label,
.domain-miracles-2a-label,
.domain-miracles-2b-label,
.domain-miracles-3-label,
.domain-miracles-4-label,
.domain-miracles-5a-label,
.domain-miracles-5b-label,
.domain-miracles-6a-label,
.domain-miracles-6b-label,
.domain-miracles-7-label,
.domain-miracles-8-label,
.domain-miracles-9-label,
.persona-miracles-0-label,
.persona-miracles-1a-label,
.persona-miracles-1b-label,
.persona-miracles-2-label,
.persona-miracles-3-label,
.persona-miracles-4-label,
.persona-miracles-5a-label,
.persona-miracles-5b-label,
.persona-miracles-6a-label,
.persona-miracles-6b-label,
.persona-miracles-7-label,
.persona-miracles-8-label,
.persona-miracles-9-label {
    margin-top: 8px;
    pointer-events: none;
    grid-area: 1/1/1/1;
}
.domain-miracles-0-input,
.domain-miracles-1-input,
.domain-miracles-2a-input,
.domain-miracles-2b-input,
.domain-miracles-3-input,
.domain-miracles-4-input,
.domain-miracles-5a-input,
.domain-miracles-5b-input,
.domain-miracles-6a-input,
.domain-miracles-6b-input,
.domain-miracles-7-input,
.domain-miracles-8-input,
.domain-miracles-9-input,
.persona-miracles-0-input,
.persona-miracles-1a-input,
.persona-miracles-1b-input,
.persona-miracles-2-input,
.persona-miracles-3-input,
.persona-miracles-4-input,
.persona-miracles-5a-input,
.persona-miracles-5b-input,
.persona-miracles-6a-input,
.persona-miracles-6b-input,
.persona-miracles-7-input,
.persona-miracles-8-input,
.persona-miracles-9-input {
    grid-area: 1/1/1/1;
}
.domain-miracles-0-underline {
    grid-area: domain-miracles-0-underline;
    background-color: #291A19;
    width:95%;
}
.domain-miracles-1-underline {
    grid-area: domain-miracles-1-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-2-underline {
    grid-area: domain-miracles-2-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-3-underline {
    grid-area: domain-miracles-3-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-4-underline {
    grid-area: domain-miracles-4-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-5-underline {
    grid-area: domain-miracles-5-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-6-underline {
    grid-area: domain-miracles-6-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-7-underline {
    grid-area: domain-miracles-7-underline;
    background-color: #291A19;
    width: 95%;
}
.domain-miracles-8-underline {
    grid-area: domain-miracles-8-underline;
    background-color: #291A19;
    width: 95%;
}

.domain-miracles-0-input textarea,
.domain-miracles-1-input textarea,
.domain-miracles-7-input textarea,
.domain-miracles-8-input textarea,
.domain-miracles-9-input textarea.,
.persona-miracles-0-input textarea,
.persona-miracles-1-input textarea,
.persona-miracles-7-input textarea,
.persona-miracles-8-input textarea,
.persona-miracles-9-input textarea {
    height: 72px;
}
.domain-miracles-3-input textarea,
.domain-miracles-4-input textarea,
.persona-miracles-3-input textarea,
.persona-miracles-4-input textarea {
    height:117px;
}
.domain-miracles-2a-input textarea,
.domain-miracles-2b-input textarea,
.domain-miracles-5a-input textarea,
.domain-miracles-5b-input textarea,
.domain-miracles-6a-input textarea,
.domain-miracles-6b-input textarea,
.persona-miracles-1a-input textarea,
.persona-miracles-1b-input textarea,
.persona-miracles-5a-input textarea,
.persona-miracles-5b-input textarea,
.persona-miracles-6a-input textarea,
.persona-miracles-6b-input textarea {
    height: 62px;
}
.domain-miracles-0-numeral span,
.domain-miracles-1-numeral span,
.domain-miracles-2-numeral span,
.domain-miracles-3-numeral span,
.domain-miracles-4-numeral span,
.domain-miracles-5-numeral span,
.domain-miracles-6-numeral span,
.domain-miracles-7-numeral span,
.domain-miracles-8-numeral span,
.domain-miracles-9-numeral span,
.persona-miracles-0-numeral span,
.persona-miracles-1-numeral span,
.persona-miracles-2-numeral span,
.persona-miracles-3-numeral span,
.persona-miracles-4-numeral span,
.persona-miracles-5-numeral span,
.persona-miracles-6-numeral span,
.persona-miracles-7-numeral span,
.persona-miracles-8-numeral span,
.persona-miracles-9-numeral span {
    vertical-align: central;
    text-align: center;
    font-size: 60px;
    color: deepskyblue;
    text-shadow: 0 0 2px lightskyblue;
}
.miracle-label {
    margin-left: 6px;
    font-size: 18px;
    color: deepskyblue;
    text-shadow: 0 0 1px lightskyblue;
    text-align: start;
    background-color: transparent;
    pointer-events: none;
}
.domain-layout textarea,
.persona-layout textarea {
    align-self: start;
    width: 756px;
    background: none;
    border: none;
    resize: none;
    text-align: center;
    color: black;
    font-size: 20px;
    spellcheck: false;
}

/*----------------- Persona Page -----------------*/

.persona-layout {
    display: grid;
    width: 738px;
    height: auto;
    position: relative;
    top: 96px;
    grid-column-gap: 0px;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 80px 3px 70px 70px 3px 80px 3px 125px 3px 125px 3px 70px 70px 3px 70px 70px 3px 80px 3px 80px 3px 80px;
    grid-template-areas: 
        "persona-miracles-0-numeral persona-miracles-0" 
        "persona-miracles-0-underline persona-miracles-0-underline" 
        "persona-miracles-1-numeral persona-miracles-1a" 
        "persona-miracles-1-numeral persona-miracles-1b" 
        "persona-miracles-1-underline persona-miracles-1-underline"
        "persona-miracles-2-numeral persona-miracles-2"
        "persona-miracles-2-underline persona-miracles-2-underline" 
        "persona-miracles-3-numeral persona-miracles-3" 
        "persona-miracles-3-underline persona-miracles-3-underline" 
        "persona-miracles-4-numeral persona-miracles-4" 
        "persona-miracles-4-underline persona-miracles-4-underline" 
        "persona-miracles-5-numeral persona-miracles-5a" 
        "persona-miracles-5-numeral persona-miracles-5b" 
        "persona-miracles-5-underline persona-miracles-5-underline" 
        "persona-miracles-6-numeral persona-miracles-6a" 
        "persona-miracles-6-numeral persona-miracles-6b" 
        "persona-miracles-6-underline persona-miracles-6-underline" 
        "persona-miracles-7-numeral persona-miracles-7" 
        "persona-miracles-7-underline persona-miracles-7-underline" 
        "persona-miracles-8-numeral persona-miracles-8" 
        "persona-miracles-8-underline persona-miracles-8-underline" 
        "persona-miracles-9-numeral persona-miracles-9" 
        "persona-miracles-9-underline persona-miracles-9-underline";
    background-color: white;
    margin-left: 48px;
}

.persona-miracles-0-underline {
    grid-area: persona-miracles-0-underline;
    background-color: #291A19;
    width:95%;
}
.persona-miracles-1-underline {
    grid-area: persona-miracles-1-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-2-underline {
    grid-area: persona-miracles-2-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-3-underline {
    grid-area: persona-miracles-3-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-4-underline {
    grid-area: persona-miracles-4-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-5-underline {
    grid-area: persona-miracles-5-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-6-underline {
    grid-area: persona-miracles-6-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-7-underline {
    grid-area: persona-miracles-7-underline;
    background-color: #291A19;
    width: 95%;
}
.persona-miracles-8-underline {
    grid-area: persona-miracles-8-underline;
    background-color: #291A19;
    width: 95%;
}

.persona-miracles-0-numeral {
    grid-area: persona-miracles-0-numeral;
}
.persona-miracles-1-numeral {
    grid-area: persona-miracles-1-numeral;
}
.persona-miracles-2-numeral {
    grid-area: persona-miracles-2-numeral;
}
.persona-miracles-3-numeral {
    grid-area: persona-miracles-3-numeral;
}
.persona-miracles-4-numeral {
    grid-area: persona-miracles-4-numeral;
}
.persona-miracles-5-numeral {
    grid-area: persona-miracles-5-numeral;
}
.persona-miracles-6-numeral {
    grid-area: persona-miracles-6-numeral;
}
.persona-miracles-7-numeral {
    grid-area: persona-miracles-7-numeral;
}
.persona-miracles-8-numeral {
    grid-area: persona-miracles-8-numeral;
}
.persona-miracles-9-numeral {
    grid-area: persona-miracles-9-numeral;
}
.persona-miracles-0 {
    grid-area: persona-miracles-0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-1a {
    grid-area: persona-miracles-1a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-1b {
    grid-area: persona-miracles-1b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-2 {
    grid-area: persona-miracles-2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-3 {
    grid-area: persona-miracles-3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-4 {
    grid-area: persona-miracles-4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-5a {
    grid-area: persona-miracles-5a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-5b {
    grid-area: persona-miracles-5b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-6a {
    grid-area: persona-miracles-6a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-6b {
    grid-area: persona-miracles-6b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-7 {
    grid-area: persona-miracles-7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-8 {
    grid-area: persona-miracles-8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.persona-miracles-9 {
    grid-area: persona-miracles-9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.persona-miracles-0-numeral {
    grid-area: persona-miracles-0-numeral;
}
.persona-miracles-1-numeral {
    grid-area: persona-miracles-1-numeral;
}
.persona-miracles-2-numeral {
    grid-area: persona-miracles-2-numeral;
}
.persona-miracles-3-numeral {
    grid-area: persona-miracles-3-numeral;
}
.persona-miracles-4-numeral {
    grid-area: persona-miracles-4-numeral;
}
.persona-miracles-5-numeral {
    grid-area: persona-miracles-5-numeral;
}
.persona-miracles-6-numeral {
    grid-area: persona-miracles-6-numeral;
}
.persona-miracles-7-numeral {
    grid-area: persona-miracles-7-numeral;
}
.persona-miracles-8-numeral {
    grid-area: persona-miracles-8-numeral;
}
.persona-miracles-9-numeral {
    grid-area: persona-miracles-9-numeral;
}

/*------------- Treasure Page --------------------*/

.treasure-layout {
    display: grid;
    width: 786px;
    height: auto;
    position: relative;
    top: 86px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "treasure-entry";
    margin-left: 48px;
    z-index: 3;
    background-color: antiquewhite;
}

.treasure-border {
    grid-area: treasure-entry;
    display: block;
    width: 738px;
    border-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/Nobilis-frame.png");
    border-image-slice: 256 72 72 72;
    border-width: 256px 72px 72px 72px;
    border-style: solid;
    border-image-repeat: stretch;
    margin: -118px 0px -60px -48px;
    z-index: 5;
    background-color: transparent;
    pointer-events: none;
}

.treasure-background {
    grid-area: treasure-entry;
    display: block;
    width: 738px;
    background-color: white;
    border-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/White.png");
    border-width: 500px 369px 500px 369px;
    border-style: solid;
    border-image-repeat: stretch;
    margin: -116px 0px -60px -58px;
    z-index: 1;
    pointer-events: none;
}
.treasure-header {
    width:100%;
    display: grid;
    grid-template-columns: 160px 80px 80px 1fr;
}
.Treasure-Entry {
    grid-area:treasure-entry;
    height:auto;
    width:796px;
    z-index:3;
}
.treasure-col4 {
    width:100%;
    display:flex;
}
.treasure-description {
    align-self: start;
    background: none;
    border: none;
    resize: none;
    text-align: left;
    color: black;
    font-size: 20px;
    spellcheck: false;
}
.treasure-page input[type="text"] {
    background-color: inherit;
    border: none;
    width: 160px;
}
.treasure-page select {
    background-color: inherit;
    border: none;
    justify-self: center;
    align-self: center;
    font-size: 16px;
    margin-top: 8px;
    width: 80px;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/*----------------- Tabs -------------------------*/
    .tab-area {
    background-color: inherit;
}

.charsheet-page,
.domain-page,
.treasure-page,
.persona-page {
    display:none;
    
}

.charsheet-page {
    background-color:white;
}

/* show the selected tab */
.tabstoggle[value="char-page"] ~ div.charsheet-page,
.tabstoggle[value="domain-page"] ~ div.domain-page,
.tabstoggle[value="persona-page"] ~ div.persona-page,
.tabstoggle[value="treasure-page"] ~ div.treasure-page {
    display: block;
}

button.tab {
    color: deepskyblue;
    font-size: 18px;
    height: 96px;
    width: 64px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    z-index: 6;
}
.tabstoggle[value]:not([value="char-page"]) ~ div > button.tab1 {
    text-shadow: 0px 0px 2px skyblue;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-1.png");
}
.tabstoggle[value="char-page"] ~ div > button.tab1 {
    color: #31141a;
    text-shadow: 0px 0px 4px #00cbff;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-1open.png");
}
.tabstoggle[value]:not([value="domain-page"]) ~ div > button.tab2 {
    text-shadow: 0px 0px 2px skyblue;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-2.png");
}
.tabstoggle[value="domain-page"] ~ div > button.tab2 {
    color: #31141a;
    text-shadow: 0px 0px 4px #00cbff;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-2open.png");
}
.tabstoggle[value]:not([value="persona-page"]) ~ div > button.tab3 {
    text-shadow: 0px 0px 2px skyblue;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-3.png");
}
.tabstoggle[value="persona-page"] ~ div > button.tab3{
    color: #31141a;
    text-shadow: 0px 0px 4px #00cbff;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-3open.png");
}
.tabstoggle[value]:not([value="treasure-page"]) ~ div > button.tab4 {
    text-shadow: 0px 0px 2px skyblue;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-4.png");
}
.tabstoggle[value="treasure-page"] ~ div > button.tab4 {
    color: #31141a;
    text-shadow: 0px 0px 4px #00cbff;
    background-image: url("https://raw.githubusercontent.com/WonderLlama/Nobilis3e/main/tab-flower-4open.png");
}


/*----------------- GENERAL CSS ------------------*/
section {
    padding: 0px;
    border-style: none;
    z-index: 3;
}

.AltGray {
    background-color: lightgray;
}

.Section-Header {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.Sub-Header {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.radio-container {
    display: flex;
    grid-gap: 2px;
    align-items: center;
    padding-right: 6px;
}

.radio-reset {
    background: none;
    border: none;
    color: red;
}

.r-align {
    vertical-align: central;
    justify-items:end;
    text-align: end;
}
.l-align {
    vertical-align: central;
    text-align: start;
}

.hidden {
    display:none;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
    display: flex;
    flex-direction: column;
}

.f-center {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%
}

.col9 {
    grid-template-columns: repeat(9, 1fr);
    align-content:center;
    align-items:center;
    justify-content:center;
    justify-items:center;
}

.span2 {
    grid-column: span 2;
}

.grid {
    position: relative;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    width: 100%;
}

/*----------------- Text & Input styling -----------------*/

@import url("https://fonts.googleapis.com/css?family=Lexend&display=swap");

.charsheet input[type="text"]{
    font-size:16px;
}

.Gifts select {
    margin-top: 8px;
}

.domain-page em,
.treasure-page em,
.persona-page em {
    font-style: normal;
    font-size: 20px;
}

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
    font-family: "Lexend";
}

/*------------- Section-specific CSS -------------*/


.header .input-name input[type="text"] {
    background-color: inherit;
    color: black;
    font-size: 24px;
    height: 21px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    border: none;
    border-bottom: solid 1px black;
    border-radius: 0;
    width:52%;
}

.header .input-estate input[type="text"] {
    background-color: inherit;
    color: black;
    font-size: 24px;
    height: 21px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    border: none;
    border-bottom: solid 1px black;
    border-radius: 0;
    width: 56%;
}

.header label {
    color: black;
    font-size: 11px;
    height: 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}


.Level-Header {
    grid-area: Level-Header;
}

.MP-Header {
    grid-area: MP-Header;
}

.Attr-Label {
    font-size: 19px;
    display: flex;
    align-items: center;
}

.Aspect-Label {
    grid-area: Aspect-Label;
}

.Aspect {
    grid-area: Aspect;
    display: flex;
    align-items:center;
    text-align:center;
}

.Aspect .radio-reset,
.Domain .radio-reset,
.Persona .radio-reset,
.Treasure .radio-reset {
    height: 16px;
}

.Aspect input[type=radio],
.Domain input[type=radio],
.Persona input[type=radio],
.Treasure input[type=radio] {
    border: 0px;
    width: 16px;
    height: 16px;
}

.Aspect-MP .radio-reset,
.Domain-MP .radio-reset,
.Persona-MP .radio-reset,
.Treasure-MP .radio-reset {
    height: 11px;
    font-size:10px;
    text-align:center;
    vertical-align:central;
}
.Aspect-MP input[type=radio],
.Domain-MP input[type=radio],
.Persona-MP input[type=radio],
.Treasure-MP input[type=radio],
.Estate-Properties input[type=radio],
.Skills input[type=radio],
.Bonds input[type=radio] {
    border: 0px;
    width: 10px;
    height: 10px;
    vertical-align: central;
}

.Aspect-MP {
    grid-area: Aspect-MP;
    display: flex;
    align-items: center;
    text-align: center;
}

.Domain-Label {
    grid-area: Domain-Label;
}

.Domain {
    grid-area: Domain;
    display:flex;
    align-items: center;
    text-align: center;
}

.Domain-MP {
    grid-area: Domain-MP;
    display: flex;
    align-items: center;
    text-align: center;
}

.Persona-Label {
    grid-area: Persona-Label;
}

.Persona {
    grid-area: Persona;
    display: flex;
    align-items: center;
    text-align: center;
}

.Persona-MP {
    grid-area: Persona-MP;
    display: flex;
    align-items: center;
    text-align: center;
}

.Treasure-Label {
    grid-area: Treasure-Label;
}

.Treasure {
    grid-area: Treasure;
    display: flex;
    align-items: center;
    text-align: center;
}

.Treasure-MP {
    grid-area: Treasure-MP;
    display: flex;
    align-items: center;
    text-align: center;
}

.Estate-Properties div,
.Skills div,
.Bonds div {
    display: flex;
}

.Estate-Properties input,
.Skills input,
.Bonds input,
.Wounds input,
.Wound-Levels input {
    width: 100%;
    background-color: inherit;
    border: none;
}

.Estate-Properties span,
.Bonds span,
.Skills span {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Estate1 {
    grid-area: Estate1;
}

.Estate2 {
    grid-area: Estate2;
}

.Estate3 {
    grid-area: Estate3;
}

.Estate4 {
    grid-area: Estate4;
}

.Estate5 {
    grid-area: Estate5;
}

.Estate6 {
    grid-area: Estate6;
}

.Estate7 {
    grid-area: Estate7;
}

.EstateVal1 {
    grid-area: EstateVal1;
}

.EstateVal2 {
    grid-area: EstateVal2;
}

.EstateVal3 {
    grid-area: EstateVal3;
}

.EstateVal4 {
    grid-area: EstateVal4;
}

.EstateVal5 {
    grid-area: EstateVal5;
}

.EstateVal6 {
    grid-area: EstateVal6;
}

.EstateVal7 {
    grid-area: EstateVal7;
}

.Skill-Label-Text {
    grid-area: Skill-Label-Text;
}
.Willpower-Label {
    grid-area: Willpower-Input;
    align-self:start;
}
.Willpower-Input {
    grid-area: Willpower-Input;
}
.Willpower-Input input[type=number]{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top:-2.8px;
    border:none;
    margin-left:48px;

}

.Skill2 {
    grid-area: Skill2;
}

.Skill3 {
    grid-area: Skill3;
}

.Skill4 {
    grid-area: Skill4;
}

.Skill5 {
    grid-area: Skill5;
}

.Skill6 {
    grid-area: Skill6;
}

.Skill7 {
    grid-area: Skill7;
}

.Skill8 {
    grid-area: Skill8;
}

.Skill9 {
    grid-area: Skill9;
}

.Skill10 {
    grid-area: Skill10;
}

.Skill11 {
    grid-area: Skill11;
}

.Skill12 {
    grid-area: Skill12;
}

.Skill13 {
    grid-area: Skill13;
}

.SkillVal1 {
    grid-area: SkillVal1;
}

.SkillVal2 {
    grid-area: SkillVal2;
}

.SkillVal3 {
    grid-area: SkillVal3;
}

.SkillVal4 {
    grid-area: SkillVal4;
}

.SkillVal5 {
    grid-area: SkillVal5;
}

.SkillVal6 {
    grid-area: SkillVal6;
}

.SkillVal7 {
    grid-area: SkillVal7;
}

.SkillVal8 {
    grid-area: SkillVal8;
}

.SkillVal9 {
    grid-area: SkillVal9;
}

.SkillVal10 {
    grid-area: SkillVal10;
}

.SkillVal11 {
    grid-area: SkillVal11;
}

.SkillVal12 {
    grid-area: SkillVal12;
}

.SkillVal13 {
    grid-area: SkillVal13;
}

.Bond-Label {
    grid-area: Bond-Label;
}

.Bond1 {
    grid-area: Bond1;
}

.Bond2 {
    grid-area: Bond2;
}

.Bond3 {
    grid-area: Bond3;
}

.Bond4 {
    grid-area: Bond4;
}

.Bond5 {
    grid-area: Bond5;
}

.Bond6 {
    grid-area: Bond6;
}

.Bond7 {
    grid-area: Bond7;
}

.Bond8 {
    grid-area: Bond8;
}

.Bond9 {
    grid-area: Bond9;
}

.Bond10 {
    grid-area: Bond10;
}

.Bond11 {
    grid-area: Bond11;
}

.Bond12 {
    grid-area: Bond12;
}

.Bond13 {
    grid-area: Bond13;
}

.BondVal1 {
    grid-area: BondVal1;
}

.BondVal2 {
    grid-area: BondVal2;
}

.BondVal3 {
    grid-area: BondVal3;
}

.BondVal4 {
    grid-area: BondVal4;
}

.BondVal5 {
    grid-area: BondVal5;
}

.BondVal6 {
    grid-area: BondVal6;
}

.BondVal7 {
    grid-area: BondVal7;
}

.BondVal8 {
    grid-area: BondVal8;
}

.BondVal9 {
    grid-area: BondVal9;
}

.BondVal10 {
    grid-area: BondVal10;
}

.BondVal11 {
    grid-area: BondVal11;
}

.BondVal12 {
    grid-area: BondVal12;
}

.BondVal13 {
    grid-area: BondVal13;
}


.gift-row-repeat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px 0px;
    padding: 0px;
    grid-auto-flow: row;
    grid-template-rows: 28px;
}

.repcontainer[data-groupname=repeating_gifts] .repitem:nth-child(even),
.repcontainer[data-groupname=repeating_treasures] .repitem:nth-child(even) {
    background-color: inherit;
}
.repcontainer[data-groupname=repeating_gifts] .repitem:nth-child(odd),
.repcontainer[data-groupname=repeating_treasures] .repitem:nth-child(odd) {
    background-color: lightgray;
}

.gift-row-repeat input {
    width: 95%;
    background-color: inherit;
    border: none;
    text-align:center;
}
.gift-row-repeat input[type=checkbox] {
    width:16px;
    height:16px;
}
.gift-row-repeat input[type=number] {
    text-align:center;
    font-size:16px;
}

.gift-row-repeat select {
    width:90%;
    font-size:16px;
    background-color:inherit;
    border:none;
    text-align:center;
    -moz-appearance:none;
    -webkit-appearance:none;
}

.Wounds input {
    text-align:center;
}

.Wounds-Label {
    grid-area: Wounds-Label;
}

.Wound1 {
    grid-area: Wound1;
}

.Wound2 {
    grid-area: Wound2;
}

.Wound3 {
    grid-area: Wound3;
}

.Wound4 {
    grid-area: Wound4;
}

.Wound5 {
    grid-area: Wound5;
}

.Wound-Level-Label {
    grid-area: Wound-Level-Label;
}

.Wound-Diagram {
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    grid-template-rows: 135px;
    grid-gap: 0px 0px;
    padding: 0px;
    grid-auto-flow: row;
    grid-template-areas: ". Wound-Diagram-Interior .";
    grid-area: Wound-Diagram;
}

.Wound-Diagram-Interior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0px 0px;
    padding: 0px;
    grid-auto-flow: row;
    grid-template-areas: "Deadly1 Deadly1 Deadly2 Deadly2" ". Serious1 Serious1 ." "Surface1 Surface1 Surface2 Surface2";
    grid-area: Wound-Diagram-Interior;
}

.wound-checkbox-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Wound-Checkbox-Subcontrol";
    grid-auto-rows: 100%;
}


.wound-button {
    z-index: 1;
    opacity: 0;
    grid-area: Wound-Checkbox-Subcontrol;
}

/* Fake checkbox */
.wound-checkbox-span {
    text-align: center;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: red;
    grid-area: Wound-Checkbox-Subcontrol;
}


.Deadly1 {
    grid-area: Deadly1;
    border: inset;
}

.Deadly2 {
    grid-area: Deadly2;
    border: inset;
}

.Serious1 {
    grid-area: Serious1;
    border: inset;
}

.Surface1 {
    grid-area: Surface1;
    border: inset;
}

.Surface2 {
    grid-area: Surface2;
    border: inset;
}

.WL1 {
    grid-area: WL1;
    display: flex;
    align-items: center;
}

.WL2 {
    grid-area: WL2;
    display: flex;
    align-items: center;
}

.WL3 {
    grid-area: WL3;
    display: flex;
    align-items: center;
}

.Destiny-Label {
    grid-area: Destiny-Label;
}

.Destiny-Box {
    grid-area: Destiny-Box;
    border: inset;
    display:flex;
    align-content:center;
    justify-content:center;
}

.Destiny input {
    background-color: inherit;
    border: none;
    text-align:center;
    font-size:36px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Overlay the +Add button with content text. */
[data-groupname=repeating_gifts] > button.btn.repcontrol_add::after {
    content: "Add Gift";
    background: #F6F6F6;
    margin-left: -30px;
    font-size: 16px;
}

/* Overlay the Modify/Done button.  Overlying text is static */
[data-groupname=repeating_gifts] > button.btn.repcontrol_edit::after {
    content: "Edit Gifts";
    background: #F6F6F6;
    margin-left: -36px;
    font-size: 16px;
}

/* Overlay the +Add button with content text. */
[data-groupname=repeating_treasures] > button.btn.repcontrol_add::after {
    content: "Add Treasure";
    background: #F6F6F6;
    margin-left: -30px;
    font-size: 16px;
}

/* Overlay the Modify/Done button.  Overlying text is static */
[data-groupname=repeating_treasures] > button.btn.repcontrol_edit::after {
    content: "Edit Treasures";
    background: #F6F6F6;
    margin-left: -36px;
    font-size: 16px;
}

/* this sets the formatting for all repcontrol buttons */
.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
    display: block;
    background: #F6F6F6;
    color: black;
    box-shadow: none;
    font-size: 0.9em;
    height: 2em;
    border-color:#E0E0E0;
}